/* ==========================================================================
   Typography refinements
   ========================================================================== */

.page__content {
  font-size: 1em;
  line-height: 1.5;

  h1 {
    margin-top: 1em;
    color: $text-color;
    font-size: 1.4em;
    font-weight: 700;
  }

  h2 {
    margin-top: 1em;
    color: $text-color;
    font-size: 1.2em;
    font-weight: 700;
  }

  h3 {
    color: $text-color;
    font-size: 1em;
    font-weight: 700;
  }

  p {
    margin-bottom: .5em;
  }

  ul,
  ol {
    margin-top: .5em;
    padding-left: 2em;
  }

  li {
    line-height: 1.5;
  }

  a {
    color: $link-color;
    font-weight: 500;
  }

  blockquote {
    color: $text-color;
    background: transparent;
  }
}
